---
layout: default
---

<article class="page playlist-index">

    {% if page.title %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}


    <div class="entry-content">
    {{ content }}
    </div>

    <div class="playlist-container">
    {% for key in page.talks %}
      {% for item in site.pages %}
      {% if item.playlistId == key %}
    <div class="playlist-block clearfix">
        <div class="cover">
            <a href="{{item.url}}"><img src="{{item.cover}}" /></a>
        </div>
        <div class="info">
            <h2><a href="{{item.url}}">{{item.title}}</a></h2>
            <p class="meta">
                <span class="count">{{item.videos.size}} Videos</span> |
                <span class="tags"> {% for tag in item.tags %} {% if forloop.first != true %} / {% endif %} {{tag}} {% endfor %}</span>
            </p>

        </div>
    </div>
      {% endif %}
      {% endfor %}
    {% endfor %}

    </div>

</article>

{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}

{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}

<script>
$(document).ready(function(){
    $(".playlist-block .cover ximg").each(function() {
        // verticle align center
        var ele = $(this);
        var h = ele.height();
        var ph = $(ele.closest(".cover")).height();
        var offset = (h - ph)/2;
        console.log(h+" " + ph + ": " +offset);
        ele.css("margin-top", (-offset)+"px");
    });
});
</script>
