<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Billy's tech blog">

    <title>{% block title %}Billy's tech blog{% endblock %}</title>
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    {{h.css_asset_tag(base_url, "global.css")}}
    {{h.css_asset_tag(base_url, "blog.css")}}

    {% block extra_css %}{% endblock %}
    
<script>
    try { Typekit.load(); } catch (e) {}
</script>

</head>
<body>


<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header">
            <hgroup>
                <h1 class="brand-title">Billynyh's blog</h1>
                <h2 class="brand-tagline">Just some development notes</h2>
            </hgroup>
        </header>

        {% if post_tags %}
        <div class="tags">
            {% for tag in post_tags %}
                <a href="#">{{tag}}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% block sidebar %}
        {% endblock %}
    </div>

    <div class="pure-u-1">
        <!-- A wrapper for all the blog posts -->
        <div class="posts">

            {% block body %}
                <div id="header">
                    {% block header %}{% endblock %}
                </div>

                <div id="main">
                    {% block main %}{% endblock %}
                </div>

                <div id="footer">
                    {% block footer %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="http://twitter.com/billynyh/">Twitter</a></li>
                    <li><a href="http://github.com/billynyh/">Github</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>

    {{h.js_asset_tag(base_url, "jquery.js")}}
    {{h.js_asset_tag(base_url, "bootstrap.js")}}
    {{h.js_asset_tag(base_url, "sticky-title.js")}}
    {{h.js_asset_tag(base_url, "global.js")}}
    {% block extra_js %}{% endblock %}
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>



</body>
</html>
