{% extends "base.html" %}

{% block main %}
    {% for entry in entries %}
        <div class="entry">
            <div class="sticky">
            {{ entry.pretty_date }}
            </div>
            <div class="entry-container inset">
            <h2 class=""><a href="{{ h.url(base_url, entry.url) }}">{{ entry.title }}</a></h2>
            <div class="entry-content">
                {{ entry.content }}
            </div>
            <p class="permalink"><a href="/{{ entry.url}}">#permalink</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
