$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

$font-icon: FontAwesome;
$font-icon-path: "/font/fontawesome-webfont";

@font-face {
	font-family: 'FontAwesome';
	src: url('#{$font-icon-path}.eot');
	src: url('#{$font-icon-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-icon-path}.woff') format('woff'),
		url('#{$font-icon-path}.ttf') format('truetype'),
		url('#{$font-icon-path}.svgz#FontAwesomeRegular') format('svg'),
		url('#{$font-icon-path}.svg#FontAwesomeRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa-android:before {
    content: "\f17b";
    font-family:'FontAwesome';
    padding-left:10px;
	font-weight: normal;
	font-style: normal;
}
.fa-code:before {
    content: "\f121";
    font-family:'FontAwesome';
    padding-left:10px;
	font-weight: normal;
	font-style: normal;
}
.fa-database:before {
    content: "\f1c0";
    font-family:'FontAwesome';
    padding-left:10px;
	font-weight: normal;
	font-style: normal;
}
.fa-list:before {
    content: "\f03a";
    font-family:'FontAwesome';
    padding-left:10px;
	font-weight: normal;
	font-style: normal;
}
