/* playlist index */
.playlist-index h1.title {
    margin-bottom:30px;
}

.playlist-block {
    background:#ffffff;
    border-bottom:1px solid #cccccc;
    margin-bottom:40px;
}
.playlist-block .cover {
    display:block;
    float:left;
    width:340px;
    height:220px;
    background:#222222;
    overflow:hidden;
}
.playlist-block .cover img {
    width:100%; /* height around 255px */
    margin-top: -16px;
}

.playlist-block .info {
    margin-left: 340px;
    padding:6px 20px 0 20px;
}
.playlist-block .tags {
    text-transform:uppercase;
}
.playlist-block h2 a {
    font-size:40px;
    line-height:60px;
    color:#444;
    font-weight:normal;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.playlist-block .meta {

}



/* palylist */

.playlist-item {
    display:block;
    background-position:center;
    float:left;
    border-radius:5px;

    position:relative;
    overflow:hidden;

    img {
        display:block;
        width:100%;
    }
}
.playlist-item p.title {
    display:block;
    color:#fff;
    background-color:rgba(30, 30, 30, 0.7);
    position:absolute;
    width:100%;
    bottom:0;
}

.playlist-container {
    .playlist-item {
        width:450px;
        height:240px;
        margin-right:50px;
        margin-bottom:35px;

        p.title {
            font-size:18px;
            line-height:26px;
            padding:16px;
        }

        img {
            margin-top:-45px;
        }
    }
}

.playlist-container-3 {
    .playlist-item {
        width:300px;
        height:160px;
        margin-right:25px;
        margin-bottom:25px;

        p.title {
            font-size:14px;
            line-height:20px;
            padding:6px;
        }
        img {
            margin-top:-30px;
        }
    }
}




