/* playlist index */
.playlist-index h1.title {
    margin-bottom:30px;
}

.playlist-block {
    background:#ffffff;
    border-bottom:1px solid #cccccc;
    margin-bottom:40px;
}
.playlist-block .cover {
    display:block;
    float:left;
    width:340px;
    height:220px;
    background:#222222;
    overflow:hidden;
}
.playlist-block .cover img {
    width:100%; /* height around 255px */
    margin-top: -16px;
}

.playlist-block .info {
    margin-left: 340px;
    padding:6px 20px 0 20px;
}
.playlist-block .tags {
    text-transform:uppercase;
}
.playlist-block h2 a {
    font-size:40px;
    line-height:60px;
    color:#444;
    font-weight:normal;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.playlist-block .meta {

}



/* palylist */

.playlist-container {

}
.playlist-item {
    width:450px;
    height:270px;
    display:block;
    background-position:center;
    float:left;
    margin-right:50px;
    margin-bottom:35px;
    border-radius:5px;

    position:relative;
}

.playlist-item p.title {
    display:block;
    color:#fff;
    font-size:18px;
    line-height:26px;
    background-color:rgba(30, 30, 30, 0.7);
    padding:16px;


    position:absolute;
    bottom:0;
}
