body {
    background:url(../images/gplaypattern.png);
}

#main {
    position:relative;
}
.tags {
    display:none;
}

.sticky {
    width:100%;
    overflow:hidden;
    border-bottom: solid 1px #cacaca;
    position: relative;
    z-index: 1;
    background: rgba(246,246,246,0.8);
    font-size:24px;
    padding:10px 15px;
    font-weight:bold;
}
.sticky.fixed {
    position: fixed;
    top: 0;

    z-index: 0;
}
.sticky.fixed.absolute {
    position:absolute;
    left:0;
}
.followWrap {
}

/* Media */

.media-group {
    white-space: nowrap;
    overflow:auto;
}

.media-group .media {
    padding-right:4px;
}

/* tag */
.post-category.post-category-android {
    background-color:#248a46;
}
.post-category.post-category-ui {
    background-color:#8a0042;
}

.fb-comments {
    margin-top:40px;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}
